[Unit]
Description=My solution to Casper Excalibur laptop's overclock issues.

[Service]
User=root
ExecStart=/usr/bin/excalibur_autostart.sh

[Install]
WantedBy=multi-user.target
