[Unit]
Description=My solution to Casper Excalibur laptop's overclock issues.
After=com.system76.PowerDaemon.service

[Service]
User=root
ExecStart=/usr/bin/excalibur_autostart.sh

[Install]
WantedBy=multi-user.target
